@import '../styles/vars';

body{
  background-color: lighten($base-color-back, 5%);
}

#app {
  font-family: Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $base-color-text;
  font-size: 20px;
  max-width: $content-max-width;
  min-height: 90vh;
  margin: 5vh auto;
  padding: 15px;
  box-sizing: border-box;
  border-radius: $border-radius-general;
  background-color: $base-color-back;
}

h1, h2 {
  font-weight: normal;
}


ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: inline-block;
  margin: 0 5px;
  padding: 10px;
}

a {
  color: #42b983;
}

input {
  &[type=text] {
    font-size: initial;
    margin: 3px;
    &:focus {
      background-color: #fefbe8;
      box-sizing: border-box;
    }
  }
}

.btn {
  border-radius: $border-radius-general;
  font-size: initial;
  background-color: $base-color;
  padding: 2px 7px;
  min-width: 70px;
  margin: 2px 4px;
  &:hover {
    box-shadow: 0 0 9px 7px inset #fff;
  }
  &:focus {
    outline: none;
    color: #fff;
  }
}


